.drawing-area{
    position: absolute;
    top: 100px;
    left: 190px;
    z-index: 10;
    width: 200px;
    height: 260px;
}

.canvas-container{
    width: 200px;
    height: 200px;
    position: relative;
    user-select: none;
    border-radius: 25px;

}

#product-div{
    width: 500px;
    height: 500px;
    position: relative;
    background-color: #fff;
}

#canvas{
    position: absolute;
    width: 200px;
    height: 400px;
    left: 0px;
    top: 0px;
    user-select: none;
    cursor: default;
}

/*Todo: adapt to cup the size and position of canvas*/
/*Todo: create better cup img*/
