.drawing-area{
    position: absolute;
    top: 60px;
    left: 200px;
    z-index: 10;
    width: 200px;
    height: 400px;
}

.canvas-container{
    width: 200px;
    height: 400px;
    position: relative;
    user-select: none;
}

#product-div{
    width: 500px;
    height: 500px;
    position: relative;
    background-color: #fff;
}

#canvas{
    position: absolute;
    width: 200px;
    height: 400px;
    left: 0px;
    top: 0px;
    user-select: none;
    cursor: default;
}
.disable{
    pointer-events:none;
    background:grey;
}
/*Todo: adapt to prod the size and position of canvas*/
/*Todo: create better prod img*/
