
.canvas-container{
    width: 100%;
    height: 100%;
    position: relative;
    user-select: none;
    border-radius: 25px;
}


#product-div{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
}

#canvas{
    position: relative;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    user-select: none;
    cursor: default;
}




.disable{
    pointer-events:none;
    background:#cccccc;
}

.color-buttons {
    display: none;
}

.button {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}

.button-span {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background: #eeeeee;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: ease .3s;
}

span.button-span:hover {
    border: black 1px solid;
    padding: 30px;
}

.white-color .button-span {
    background: white;
}
.black-color .button-span {
    background: black;
}
.red-color .button-span {
    background: red;
}
.green-color .button-span {
    background: green;
}
.yellow-color .button-span {
    background: yellow;
}
.blue-color .button-span {
    background: blue;
}

/*!*****************globals*************!*/
body {
    font-family: 'open sans';
    overflow-x: hidden;
    line-height: inherit;
}

img {
    max-width: 100%; }

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    } }

.preview-pic {
    display: flex;
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block; }
.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0; }
.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0; }

.tab-content {
    overflow: hidden; }
.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

.card {
    border-radius: 25px;
    margin-top: 50px;
    background: whitesmoke;
    padding: 3em;
    line-height: 1.5em;

}

@media screen and (min-width: 997px) {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }

.checked, .price span {
    color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }

.product-title {
    margin-top: 0; }

.size {
    margin-right: 10px; }
.size:first-of-type {
    margin-left: 40px; }

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
.color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease; }

.add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.add-to-cart[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.not-available {
    text-align: center;
    line-height: 2em; }
.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }


.tooltip-inner {
    padding: 1.3em; }

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3); }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); } }

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3); }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); } }


.custom-file-input ,.custom-file-label, #product-design{
    width:70%;

}
#product-amount{
    width:15%;
}
#doneEdit, #continueEdit{
    width: 50%;
}
.action {
    display: flex;
}
#product-design{
    margin-bottom: 10px;
}